# Compiled files
**/*.tfstate
**/*.tfstate.backup
**/*.tfplan

# Module directory
**/.terraform/
.terraform
.terragrunt-cache

terraform.tfstate.**.backup
terraform.tfstate.d

*.retry
modules/aws/.DS_Store
.DS_Store
